<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <h1>Фильмы</h1>
  <form class="formsearch" method="get"> 
    <input type="text" name="text" class="search" placeholder="Введите название">
    <input type="submit" name="submit" class="submit" value="Поиск">
  </form>
  <ul>
    <% if (films.length) { %>
      <% films.forEach(({ id, title }) => { %>
        <li>
          <article>
            <h2>
              <a href="/posts/<%= id %>"><%= title %></a>
            </h2>
          </article>
        </li>
      <% }) %>
    <% } %>
  </ul>

</body>
</html>
